@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MongoDbProj.Models.Korisnik

@{
    ViewData["Title"] = "idiNaLogAdmin";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/admin.css" />
    </head>
    <body class="bb">
        <form asp-action="logKorisnika">
            <div class="formaL">
                <h3> Uloguj se kao korisnik</h3>
                <div class="form-group row" hidden>
                    <label asp-for="idKorisnika" class="col-sm-2 col-form-label">id</label>
                    <div class="col-sm-10">
                        <input asp-for="idKorisnika" class="form-control" id="idAdmina">
                    </div>
                </div>
                <div class="form-group row" id="divEmail">
                    <label for="inputEmail3" asp-for="Email" id="labEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" asp-for="Email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword3" asp-for="Password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" asp-for="Password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                    <div class="form-group">
                        <input type="submit" value="Loguj se" id="buttonId" class="btn btn-primary" />
                        <input value="Otkazi" id="buttonIdCancel" onclick=" location.href = '../';" class="btn btn-primary" />
                    </div>
                <div id="linkReg">
                    <p>Registuj se ako nemas nalog!</p>
                    <a href="../Admin/idiNaRegistrujAdmin">Kao admin</a>
                    <a href="../Korisnik/kreirajKorisnika">Kao korisnik</a>
                </div>
            </div>
        </form>
    </body>
</html>